<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reviews</title>
	
	 <link rel="stylesheet" href="./css/default-style.css">
    <link rel="stylesheet" href="./css/layout.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Poiret+One">
</head>
<body>
	<h1>Basic Beverages for Quality of Life</h1>	

	<div th:each="review: ${reviewsModel}">
		
		<a th:href="@{/review(id=${review.id})}"  th:text="${review.name}"></a>		
			
	</div>

</body>
</html>